## GLOBAL
STACK=
UID=1000
GID=1000
LOG_LEVEL=info
TZ=
ROOT_FQDN=
HOSTNAME=

## NETWORK
ADMIN_NET_SUBNET=
ADMIN_NET_GATEWAY_IP=

## ADMIN
ADMIN_USER=
ADMIN_EMAIL=
ADMIN_PASS=

## TAILSCALE
TS_FQDN=
TS_AUTHKEY=

## CLOUDFLARE
CF_API_EMAIL=
CF_DNS_API_TOKEN=
LE_EMAIL=
DOMAIN=
SANS_DOMAIN=

## POSTGRES
POSTGRES_DB=postgres
